 {% extends "Alumnos/base.html" %}

 {% block titulo %}Indice{% endblock %}

 {% block banner %}


 <h1 style="text-align:center;">HI! This is my INDEX

   <a href="/admin" style="margin-right:10px; float:right">
    <i class="fas fa-users-cog">

    </i>
   </a>
 </h1>


 {% endblock %}

 {% block contenido %}
 
  <p style="text-align:center;">
  <a href="/resultado" style="font-size:2em; font-weight:bold;"> Contenido del INDEX </a>

  <p style="text-align:center;">
  <a href="/resultado" style="font-size:2em; font-weight:bold;"> Registro de Alumnos </a>
  </p>
 {% endblock %}

